*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}
.main-nav{
    background-color: #43281C;
    height: 70px;
    text-align: center;
}
.logo{
    height: 30px;
    margin-top: 12px;
}
.brand{
    color: #FBF2C0;
    
}
.pages{
    display: grid;
    grid-template-areas: 
    "items payment"
    "total total";
    grid-template-columns: 1fr 1fr;
    grid-column-gap:20px;
}
.items{
    background-color: #eee1d5;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 05px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
}
.name-box{
    height: 120px;
    width: 90%;
    background-color: #eee1d5;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 05px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.payment-box{
    width: 90%;
    height: 200px;
    background-color: #eee1d5;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 05px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.box-letter{ 
    color: #9f7753;
    margin-left: 10px;
    font-family: 'Open Sans';
    font-weight: lighter;
}
.input-name{
    position: relative;
    display: inline-block;
    margin-left: 100px;
    margin-top: 15px;
}
.input-name-c {
    background-color: #eee1d5;
    border-color: #c3a78d;
    padding: 8px;
    border-radius: 5px;
}
.input-name-label{
    background-color: #eee1d5;
    color: #987049;
    font-size: 14px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}
.name-letter{
    color: #9f7753;
    margin-left: 10px;
    font-family: 'Open Sans';
    font-weight: lighter;
    margin-bottom: 10px;
}
.payment-letter{
    color: #9f7753;
    margin-left: 10px;
    font-family: 'Open Sans';
    font-weight: lighter;
}